{% extends 'base.html' %}

{% load socialaccount %}

{% load static %}

{% block content %}

<div class="container">
    <div class="col-md-4 offset-md-4 text-center">
        <br/>
        <h1><strong>Sign Up</strong></h1>
        <br/>
        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary">Sign Up</button>
        </form>
        <br/>
        <form method="post" action="{% provider_login_url 'google' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-dark">
                <img width="20px" style="margin-bottom:3px; margin-right:5px" src="{% static 'images/Google.png' %}"/>
                Continue with Google
            </button>
        </form>
    </div>
</div>

{% endblock %}
