{% extends 'base.html' %}

{% block content %}

<div class="container">
    {% if validlink %}
        <div class="col-md-4 offset-md-4 text-center">
            <br/>
            <h1><strong>New Password</strong></h1>
            <br/>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-secondary">Change Password</button>
            </form>
        </div>
    {% else %}
        <p class="text-center">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
</div>

{% endblock %}
